# Ignore storage except model-repository
/storage/*
!/storage/model-repository/
.coverage
htmlcov/
coverage.xml
/logs/
/dist/
/build/
/server_config.txt
/poetry.lock
/releases/
__pycache__/
*ipynb

.DS_Store

